<!-- <div class="container-search">
  <div class="searchBar">
    <input class="searchCity" type="text" placeholder="serach City">
  </div>

</div> -->
<div class="Card">
  <div class="CardInner">
  <label>Weather Search for City</label>
  <div class="container-card">
    <div class="Icon">
      <!-- (click)="getWeather(titleInput.value)" -->
      <button id="searchButton" class="searchButton"  (click)="getWeather(titleInput)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"/>
          <line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>
      </button>

    </div>
    <div class="InputContainer">
      <input placeholder="Search City..." class="form-control" #titleInput/>
    </div>
  </div>
 </div>
</div>
<div class="container">
<div class="upper-data">
<img src="../assets/sunset2.jpg" *ngIf="14>15">
<img src="../assets/sunset cold2.jpg" *ngIf="14<=15">

<div class="weather-data">
<div class="location">{{cityName}}</div>
<div class="temperature">{{temperature}}°C</div>
</div>
</div>
<div class="lower-data">
  <div class="more-info">
    More Information
  </div>
  <div class="more-info-container">
<div class="info-block">
  <div class="info-block-label">
    <img src="../assets/cold.png">
    <span>min</span>
  </div>
  <div class="info-block-value">
    {{minTemp}}°C
  </div>
</div>
<div class="info-block">
  <div class="info-block-label">
    <img src="../assets/hot.png">
    <span>max</span>
  </div>
  <div class="info-block-value">
    {{maxTemp}}°C
  </div>
</div>
<div class="info-block">
  <div class="info-block-label">
    <img src="../assets/humidity.png">
    <span>humidity</span>
  </div>
  <div class="info-block-value">
    {{humidity}}%
  </div>
</div>
<div class="info-block">
  <div class="info-block-label">
    <img src="../assets/wind.png">
    <span>wind</span>
  </div>
  <div class="info-block-value">
    {{wind}} km/h
  </div>
</div>
  </div>

</div>
</div>

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
